body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/168/377/65/simple-background-gradient-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
footer {
    background-color: rgb(12, 4, 2);
    height: 200px;
    width: 100%;
    text-align: center;
}

.copyright {
    color: rgb(206, 33, 33);
    /* padding-top: 80px; */
}

.project {
    background-image: url("https://raw.githubusercontent.com/kirsralk/APIGroupProject/main/assets/cincoscreenshot.png");
    width: 350px;
    height: 350px;
    background-size: 100% 100%;
}

.project2 {
    background-image: url("image/sacreenshotworkday.png");
    width: 350px;
    height: 350px;
    background-size: 100% 100%;
}

.project3 {
    background-image: url("image/weatherapp.png");
    width: 350px;
    height: 350px;
    background-size: 100% 100%;
}

.project4 {
    background-image: url("https://raw.githubusercontent.com/Michaelwall8/portfolio1.0/main/Screenshot%20(1).png");
    width: 350px;
    height: 350px;
    background-size: 100% 100%;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
}

.icons {
    color: blue;
    font-size: large;
}