body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/168/377/65/simple-background-gradient-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
footer {
    background-color: rgb(12, 4, 2);
    height: 200px;
    width: 100%;
    text-align: center;
}

.copyright {
    color: rgb(206, 33, 33);
    padding-top: 80px;
}

.projects {
    background-image: url("image/project1.jpg");
    width: 350px;
    height: 350px;
    background-size: 100% 100%;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
}